:root {
    --highlight: #fe615a;
    --background-dark: #4d6466;
    --background-medium: #789e9e;
    --background-light: #b7d8d6;
    --text: #eef3db;
}

/* reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p, 
section,
article {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* end reset */

body {
    font-family: "Inter", serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: var(--text);
    color: var(--highlight);
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-color: var(--background-dark);
    padding: 1em;
    border-radius: 2em;
}

.screen {
    background-color: var(--background-light);
    min-width: 28rem;
    height: 6rem;
    border-radius: 0.35em;
    font-weight: 500;
    font-size: 3rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 0.3em;
    color: var(--background-dark);
}

.keys-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: 0.5em;
}

button {
    font-size: 2em;
    border-radius: 0.3em;
    border: none;
    background-color: var(--background-medium);
    color: var(--text);
}

button:hover, button:focus {
    filter: brightness(130%);
    cursor: pointer;
}

.binary-op {
    background-color: var(--highlight);
}

#zero {
    grid-column: 1/3;
}

@media (max-width: 450px) {
    .screen {
        min-width: 90vw;
    }
}